@model HomeIndexModel
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <ul class="pagination">
                @*<li class="page-item"><a class="page-link" href="#">Попередня</a></li>*@

                @if (Model.Page > 1)  // кнопка "Попередня"
                {
                    <li class="page-item">
                        <a class="page-link"
                           asp-action="Index"
                           asp-controller="Animal"
                           asp-route-page="@(Model.Page - 1)"
                           asp-route-name="@Model.Search.Name">Попередня</a>
                    </li>
                }

                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    if (Model.Page <= 5 && i <= 7)
                    {
                        string active = i == Model.Page ? "active" : "";//показать активную стр
                        <li class="page-item @active">
                            <a class="page-link"
                               asp-action="Index"
                               asp-controller="Animal"
                               asp-route-page="@i"
                               asp-route-name="@Model.Search.Name">@i</a>
                        </li>

                        if (i == 7)
                        {
                            <li class="page-item">
                                <a class="page-link"
                                   asp-action="Index"
                                   asp-controller="Animal"
                                   asp-route-page="@(i + 1)"
                                   asp-route-mark="@Model.Search.Name">...</a>
                            </li>

                            <li class="page-item">
                                <a class="page-link"
                                   asp-action="Index"
                                   asp-controller="Animal"
                                   asp-route-page="@Model.PageCount"
                                   asp-route-mark="@Model.Search.Name">@Model.PageCount</a>
                            </li>
                            break;

                        }
                    }
                }

                @*<li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>*@
                @*<li class="page-item"><a class="page-link" href="#">Наступна</a></li>*@

                @if (Model.Page < Model.PageCount)         //кнопка "Наступна"

                {
                    <li class="page-item">
                        <a class="page-link"
                           asp-action="Index"
                           asp-controller="Animal"
                           asp-route-page="@(Model.Page + 1)"
                           asp-route-name="@Model.Search.Name">Наступна</a>
                    </li>
                }
            </ul>
            

        </div>
    </div>