@model IEnumerable<AnimalViewModel>
@{
    ViewData["Title"] = "Animals";
}
<h1>Список тварин</h1><br>
<a asp-action="Create" class="btn btn-success">Додати</a>
<br>
<br>
<br>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Зверь</th>
            <th scope="col">Дата рождения</th>
            <th scope="col">Фото</th>
            <th scope="col">Опциї</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td> @item.Name</td>
                <td> @item.Birthday.ToLongDateString()</td>
                <td> <img src="@item.Image" width ="100"alt="Foto"/>
                @item.Image</td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning"   asp-route-id="@item.Id">Редагувати</a>&nbsp;&nbsp;
                    <a asp-action="Delete" class="btn btn-danger "   asp-route-id="@item.Id">Видалити</a>


                </td>
            </tr>
        }
    </tbody>
</table>



